<h1>Add Album</h1>

<form action="<%=albums_url%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

    <label for="title">Title
        <input type="text" id="title" name="album[title]">
    </label>

    <label for="year">Year
        <input type="text" id="year" name="album[year]">
    </label>

    <label for="">
        Live: 
        <input type="text" name="album[live]">
    </label>

    <button type="submit">Add Album</button>
</form>
